.dashboard-navbar {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    background-color: #f4f6f6;
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.ml-auto {
    margin-left: auto;
}

.user-avatar {
    margin-right: 1rem;
    position: relative;
}

.avatar-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-user {
    margin-top: 80px;
}
